@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap') format('woff2');
}

body {
  background-color: #141827;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
  display: flex;
  width: 1px;
  margin: 0;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html {

  scroll-behavior: smooth;
}